# Logs
logs
*.log
backend/logs/

# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build & Cache
dist/
dist-ssr/
.output/
.vinxi/
.tanstack/
.nitro/
*.local

# Environment variables
.env
backend/.env
frontend/.env
*.env.local

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
